body {
    padding-top: 50px;
    background-color: #F6F8F9;
}


/* Header */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    background-color: #F6F8F9;
}
.header-container {
    margin-top: 12px;
}
.logo {
    font-family: 'Helvetica-Bold';
    font-size: 13px;
    text-transform: uppercase;
    color: #FA6980;
    margin-left: 20px;
    margin-right: 92px;
    vertical-align: middle;
}
.header-nav {
    display: inline-block;
    vertical-align: middle;
}
.nav-item {
    display: inline-block;
    font-family: 'Helvetica-Bold';
    font-size: 11px;
    text-transform: uppercase;
}
.home-button {
    color: #343638;
    margin-right: 27px;
}
.buttons {
    color: #343638;
    opacity: 0.5;
    margin-right: 22px;
    padding-bottom: 4px;
}
.profile-img {
    width: 30px;
    vertical-align: middle;
    margin-left: 18px;
}


/* First section */

.first-section {
    width: 1160px;
    margin: 25px auto 58px auto;
}
.first-sec-title {
    font-family: 'Helvetica-Bold';
    font-size: 24px;
    color: #202124;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.first-sec-left-block {
    display: inline-block;
    width: 360px;
    position: relative;
    margin-right: 40px;
}
.first-sec-text-over-img {
    font-family: 'Helvetica-Bold';
    font-size: 16px;
    position: absolute;
    top: 28px;
    left: 36px;
    color: white;
}
.picture-description {
    background-color: #FFF;
    padding-top: 66px;
}
.picture-description-text {
    font-family: 'Acumin Pro';
    font-size: 13px;
    line-height: 22px;
    color: #A6ADB4;
    width: 280px;
    margin: 0px auto 10px auto;
}
.time-reminder {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 40px;
    font-family: 'Helvetica-Oblique';
    color: #A6ADB4;
    font-size: 13px;
}
.clock-icon {
    vertical-align: middle;
    margin-right: 10px;
}
.time-count {
    display: inline-block;
    vertical-align: middle;
}
.first-sec-middle-block {
    display: inline-block;
    width: 360px;
    margin-right: 40px;
    position: relative;
}
.first-sec-right-block {
    display: inline-block;
    width: 360px;
    position: relative;
}


/* Second section */

.second-section {
    width: 1160px;
    margin: 58px auto 37px auto;
}
.second-sec-title {
    font-family: 'Helvetica-Bold';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.second-sec-left-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}
.second-sec-left-block-1 {
    position: relative;
    margin-bottom: 40px;
}
.second-sec-text-over-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica-Bold';
    color: #fff;
    font-size: 16px;
}
.second-sec-right-block {
    display: inline-block;
    vertical-align: top;
}
.right-block-img {
    margin-bottom: 102px;
}


/* Footer */

.footer-background {
    background-color: #A6ADB4;
    height: 200px;
    padding-top: 56px;
}
.footer-block {
    width: 1160px;
    margin: 0px auto 0px;
}
.footer-logo {
    font-family: 'Acumin Pro';
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    vertical-align: top;
    margin-right: 89.1px;
}
.footer-nav {
    display: inline-block;
    vertical-align: top;
}
.nav-1 {
    margin-right: 70.6px;
}
.nav-2 {
    margin-right: 86.3px;
}

.nav-3 {
    margin-right: 104.9px;
}
.footer-nav-item {
    font-family: 'Helvetica-Bold';
    font-size: 13px;
    color: #CBD0D3;
    margin-bottom: 8px;
}
.footer-text {
    display: inline-block;
    vertical-align: top;
    margin-right: 165.2px;
    font-family: 'Helvetica-Regular';
    font-size: 11px;
    color: #CBD0D3;
}
.footer-icons {
    display: inline-block;
    vertical-align: top;
}
.icon {
    margin-right: 32px;
}

